matplotlib>=3.10.0
requests>=2.32.3
compyute @ git+https://github.com/dakofler/compyute.git@dev
tokenizers @ git+https://github.com/dakofler/simple_tokenizers.git
torch --index-url https://download.pytorch.org/whl/cu121